<div class="bg-white">
    <div class="mx-auto max-w-2xl px-4 py-16 sm:px-6 sm:py-24 lg:max-w-7xl lg:px-8">
        <div class="flex-1 overflow-y-auto px-4 py-6 sm:px-6">
            <div class="flex items-start justify-between">
                <h2 class="text-lg font-medium text-center text-gray-900" id="slide-over-title">Checkout</h2>
            </div>
            <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
                <form id="payment-form">
                    <div id="payment-element">
                        <!-- Elements will create form elements here -->
                    </div>
                    <div class="mt-6">
                        <button id="submit" class="flex items-center justify-center rounded-md border border-transparent bg-indigo-600 px-6 py-3 text-base font-medium text-white shadow-sm hover:bg-indigo-700">
                            Submit
                        </button>
                    </div>
                    <div id="error-message">
                        <!-- Display error message to your customers here -->
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    let stripe = Stripe('pk_test_51Ozj9gP8IOvd9pgGg9mInILavBubPRTroLG0DmZnTz8FYB2TKmdjyRjhvubzDAtWIv4NTUK484oClKakQp6evpSd00ezoKPPHZ');
    const clientSecret = sessionStorage.getItem('stripeClientSecret');

    const options = {
        clientSecret: clientSecret,
        appaerance: {
            theme: 'stripe',
            elements: {
                fonts: [
                    {
                        cssSrc: 'https://fonts.googleapis.com/css?family=Roboto',
                    },
                ],
            },
        },
    };

    const elements = stripe.elements(options);
    const paymentElement = elements.create('payment');
    paymentElement.mount('#payment-element');

    const form = document.getElementById('payment-form');

    form.addEventListener('submit', async (event) => {
        event.preventDefault();
        var baseUrl = window.location.protocol + "//" + window.location.host;

        const {error} = await stripe.confirmPayment({
            elements,
            confirmParams: {
                return_url: baseUrl + '/view/order-confirmation',
            },
        });

        if (error) {
            // This point will only be reached if there is an immediate error when
            // confirming the payment. Show error to your customer (for example, payment
            // details incomplete)
            const messageContainer = document.querySelector('#error-message');
            messageContainer.textContent = error.message;
        }
    });

</script>